* {
    margin: 0px;
    padding: 0px;
    font-family: 'Orbitron', sans-serif;

.container {
    max-width: 500px;
    margin: 5vh auto 0 auto;
    font-size: 2em; 
    
    border-radius: 30px;
    height: 85vh;

        #container__display {
            height: 50px;
            border-left: 5px solid black;
            border-right: 5px solid black;
            border-top: 5px solid black;
            text-align: right;
            
            
        }

        #container__output {
            border-left: 5px solid black;
            border-right: 5px solid black;
            height: 90px;
            text-align: right;
            margin-top: auto;
            
        }

        &__allButtons {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            min-height: 85%;
            gap: 10px;
            padding: 2%;
            border: 5px solid black;
            
            button {
                border-radius: 35px;
                font-family: 'Orbitron', sans-serif;
                
            }

            #clear {
                grid-column: span 4;
                background-color: lightcoral;
            }
        }
    }

}